" id="20006"}
body{

font-family:Arial;

margin:0;

background:#f4f4f4;

}

header{

background:#0a6fb7;

color:white;

text-align:center;

padding:20px;

}

nav{

background:#033e6b;

padding:10px;

text-align:center;

}

nav a{

color:white;

margin:15px;

text-decoration:none;

}

.products{

display:flex;

gap:20px;

padding:20px;

}

.product{

background:white;

padding:15px;

border-radius:10px;

text-align:center;

}

.product img{

wi